<h1><%= @user.username %>'s Profile</h1>
<p><strong>Name:</strong> <%= @user.username %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Description:</strong> <%= @user.description %></p>
