.activity-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 20px;
}


.like-button,
.dislike-button {
  width: 60px; /* Increase width for larger buttons */
  height: 60px; /* Increase height for larger buttons */
  border-radius: 50px;
  font-size: 30px; /* Increase font size for larger text */
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Add padding for more space inside buttons */
  position: relative; /* Required for absolute positioning of bubbles */
  overflow: hidden; /* Hide overflowing bubbles */
  //background-repeat: no-repeat;

}

.like-button {
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  // background-image: radial-gradient(circle, #1c671e 20%, transparent 20%),
  //  radial-gradient(circle, transparent 20%,  #1c671e 20%, transparent 20%);
  // background-size: 15% 15%, 25% 25%;
  // background-position: 5% 90%, 10% 90%;
}

.dislike-button {
  background-color: #f44336;
  color: white;
  text-decoration: none;
}

.like-button:hover {
  background-color: #31a737;
  transform: translate(3px);
  transform: scale(1.15);
}

.dislike-button:hover {
  background-color: #d32f2f;
  transform: translate(3px);
  transform: scale(1.15);
}

/* Switch position of the dislike button */
.dislike-button {
  order: -1;
}

.like-button:active {
  transform: scale(1.05); /* Increase the scale value to make it slightly bigger */
  transition: transform 0.2s ease; /* Add transition to smoothly animate the change */
}


/* Bubbles animation */

.like-button::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  opacity: 0; /* Initially hide the bubbles */
  transition: opacity 0.5s ease; /* Add transition to smoothly animate opacity */
}

.like-button:active::after {
  opacity: 1; /* Show bubbles when like button is clicked */
  animation: bubbles 1.5s ease forwards; /* Start bubbles animation */
}

@keyframes bubbles {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}
