@import 'view-more-less-link';
@import 'activity-actions';


.activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid white; /* Add white border */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add box shadow */
}


.activity-card, .activity-show {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  height: 550px; /* Maintain the same height */
}

.activity-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.activity-details {
  position: absolute;
  bottom: 10px; /* Adjust to move lower */
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.662);
  padding: 5px;
  max-height: max-content;
  align-items: center;
}

.activity-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff; /* Set text color to white */
  text-align: center;
}

.activity-description {
  font-size: 16px;
  font-family: "Proxima Nova", Arial, sans-serif;
  margin-bottom: 1px;
  color: #ffffff; /* Set text color to white */
  text-align: center;
  padding: 10px;
}

.activity-difficulty {
  font-size: 14px;
  color: #a5a2a2;
  text-align: center;
}
