@import 'view-more-less-link';
@import 'activity-actions';


.activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 4px solid white; */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
  margin-top: 30px;
}


.activity-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  height: 600px; /* Maintain the same height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}

.activity-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.activity-details {
  position: absolute;
  bottom: 0px; /* Adjust to move lower */
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.662);
  padding: 5px;
  max-height: max-content;
  align-items: center;
}

.activity-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
  text-align: center;
}

p.activity-name {
  padding-top: 15px;
}

.activity-description {
  font-size: 16px;
  font-family: "Proxima Nova", Arial, sans-serif;
  margin-bottom: 1px;
  color: #ffffff; /* Set text color to white */
  text-align: center;
  padding: 10px;
}

.activity-difficulty {
  font-size: 14px;
  color: #a5a2a2;
  text-align: center;
}

.caught-up-container {
  margin-top: 200px;
  text-align: center; /* Center align the content */
}

.fa-circle-check {
  /* Adjust size as needed */
  margin: 20px;
  font-size: 4em;
}

.caught-up-message {
  font-size: 20px; /* Adjust font size as needed */
 /* Add some space between the icon and message */
  font-family: "Proxima Nova", Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 5px;
}

.chatrooms-link {
  /* Add any additional styles for the link */
  margin-top: 20px;
  color: #63E6BE; /* Set link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Set font weight to bold */
  transition: color 0.3s; /* Add transition effect */
  font-size: 20px;
}
.chatrooms-link:hover {
  cursor: pointer;
}

.subheader-caught-up {
  font-size: 14px; /* Adjust font size as needed */
  color: #888; /* Adjust color to make it less visible */
  opacity: 0.7; /* Adjust opacity to make it less prominent */
}
