
#homepage {
  background: linear-gradient(135deg, #0b2215, #6b9b7b); /* Gradient background */
  color: #FFFFFF; /* White text color */
  font-family: "Proxima Nova", Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 90vh;
  text-align: center;

}

.title {
  color: #e5efe9;
  padding-top: 300px;
 // font-family: "Sharp Grotesk", sans-serif;
  font-size: xx-large;
}

#subheader {
  color: #e5efe9;
  padding-top: 30px;
  padding-bottom: 30px;
  // font-family:"Proxima Nova", Arial, sans-serif;
}

#get-started-btn {
  background-color: #6b9b7b;
  color: #e3f3ec;
  padding: 17px 20px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease;
}

#get-started-btn:hover {
  background-color: #0b2215;
}

#get-started-btn:active {
  transform: scale(0.96);
}
