<h1>Chatrooms</h1>

<% if @chatrooms.any? %>
  <ul>
    <% @chatrooms.each do |chatroom| %>
      <li>
        <strong><%= link_to chatroom.activity.name, chatroom_path(chatroom) %></strong>
        <span>(Difficulty: <%= chatroom.activity.difficulty %>)</span>
        <p><%= truncate(chatroom.activity.description, length: 100) %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No chatrooms available.</p>
<% end %>
