

<div id='splash-page'>
  <div class="header">
    <%= image_tag("yl.png", alt: "Messages", class: "logo-splash") %>
    <p id='subheader'>Your adventure awaits</p>
    <%= link_to 'Get Started', activities_path, id: "get-started-btn" %>
  </div>
</div>
