
<div>
<div id='homepage'>
  <div class="header">
    <h1 class="title">Tube2Trail</h1>
    <p id='subheader'>Your adventure awaits</p>
    <%= link_to 'Get Started', activities_path, id: "get-started-btn" %>
  </div>
  <!-- Other content of the homepage goes here -->
</div>
