body, .navbar {
  margin: 0 !important;
  padding: 0 !important;
}

p.notice {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #289832d4;
  border-bottom: 0.1px solid #5959593b;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
  }
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo-container {
  text-align: center;
}

.navbar-item {
  margin-right: 20px;
  color: #549267;
  text-decoration: none;
}


/* Bottom Nav */
.navbar-bottom {
  background-color: #333;
  color: #fff;
  position: fixed; /* Position the navbar fixed at the bottom */
  bottom: 0; /* Align the navbar to the bottom of the viewport */
  width: 100%; /* Make the navbar span the entire width of the viewport */
  z-index: 1000;
}

.navbar-bottom .navbar-item {
  color: white;
}

.navbar-image {
  width: 40px;
  height: 40px;
  margin-right: 50px;
  margin-left: 50px;
}

/* Top Navbar */
.navbar.top-nav {
  background-color: white;



  .container-fluid {
    padding: 15px 20px;
  }

  .navbar-brand {
    height: 60px;
    margin-right: 26px;;
  }

  .logo {
    height: 60px;
    width: auto;
  }

  .navbar-toggler {
    order: -1;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  text-align: center;
}

.nav-link {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-weight: 600;
  transition: opacity 0.3s;
  color: #324939;
}

.nav-link:hover {
  opacity: 0.4;;
}

.home-page-icon {
  opacity: 0.4;
}

.navbar-nav .nav-item:not(:last-child) .nav-link {
  position: relative;
}

.navbar-nav .nav-item:not(:last-child) .nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 20px;
  height: 1px;
  background-color: rgba(67, 66, 66, 0.552);
  border-radius: 30px;
  transform: translateX(-50%);
}

.alert {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 400px;
  padding: 15px;
  background-color: #b5ffb8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert .close {
  float: right;
  cursor: pointer;
}
