.events-content {
  margin-bottom: 60px; /* Add a margin at the bottom */
}

.card-link {
  text-decoration: none;
  width: 100%;
}

.events-article-card {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  &:first-child {
    margin-top: 20px; /* Add margin only to the first card */
  }
}

.events-card-content {
  position: relative;
  text-align: center;
}

.events-card-image {
  width: calc(100% - 40px); /* Adjusted width with space on both sides */
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: 0 20px; /* Added horizontal margins */
}

.events-card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.events-card-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.event-date-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 2;
}

.search-bar input[type="text"]:focus {
  outline: none;
  border: 2px solid green;
  box-shadow: 0 0 5px green;
}
