body {
  background-color: white; /* Set the background color of the entire page to white */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.profile-header {
  background-color: white; /* Set background color for the header to white */
  padding: 20px; /* Add padding to create space around the header */
  text-align: center; /* Center align the content within the header */
}

.profile-info {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center align vertically */
  align-items: center; /* Center align horizontally */
}

.avatar-container {
  position: relative;
}

.avatar-img {
  width: 120px;
  height: 138px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  object-fit: cover;
  border-radius: 40px; /* Increase border-radius for more rounded corners */
}




.profile-name {
  margin-top: 10px; /* Add spacing between the avatar and the name */
}

.description-container {
  padding: 20px; /* Add padding to create space around the content */
  border-radius: 20px; /* Add border radius for curved edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  max-width: 800px; /* Set maximum width */
  margin: 20px auto; /* Center the container horizontally with additional margin */
  background: rgba(127, 127, 127, 0.535); /* Set background color for the container */
  margin-left: 20px; /* Add margin to the left */
  margin-right: 20px; /* Add margin to the right */
}


.liked-activities-container {
  padding: 20px; /* Add padding to create space around the content */
  border-radius: 20px; /* Add border radius for curved edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  max-width: 800px; /* Set maximum width */
  margin: 20px auto; /* Center the container horizontally with additional margin */
  background: rgba(127, 127, 127, 0.535); /* Set background color for the container */
  margin-left: 20px; /* Add margin to the left */
  margin-right: 20px; /* Add margin to the right */
  height: 300px; /* Set the height of the container */
  text-align: center;
}
